<div>
  <h1>EMPLOYEE TABLE</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total Time in Month</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees" [ngClass]="{'highlight-row': employee.totalTime < 100}">
        <td>{{ employee.name }}</td>
        <td>{{ employee.totalTime.toFixed(2) }} hrs</td>
        <td><button>Edit</button></td>
      </tr>
    </tbody>
  </table>
  <app-chart [processedEmployees]="employees"></app-chart>
</div>
